.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-left {
  margin-left: 20px;
}

.nav-right {
  margin-right: 20px;
}

.container {
  margin-top: 60px;
}

.nav-right .dropdown .dropdown-content {
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  margin-left: -100px;
}